@media (max-width: 992px){
    .categorycard_card{
        margin: 0px 0px 20px; 
        padding: 25px;
        box-shadow: 0px 0px 8px -4px rgb(127 127 127 / 13%);
     }
        .categorycard_card p{padding: 0;}
        .bg1, .bg3 {
           
            background-size: 100% 240px;
        }
        .header_navbar .navbar-toggler {
            background: #fff;
        }
        .profile-dropdown.dropdown-menu:after{display: none;}
        .commom-space{margin: 0;}
        .dashboard_card_disp{width:100%}
        .dashboard_card_community_text_p{font-size: 16px;}
        .dashboard_layer_backimg{padding-top: 8px;}
        .search_heading{font-size: 24px;}
        .shdaow.mobileshadow {
            height: auto;
        }
        .AlphabetNav a {
            display: inline-block;
            padding: 5px;
        }
        .mycommunity_add_new_card.card {
            width: 256px;
            height: auto;
        }
        .community_detail_page_description input[type="text"] {
            width: auto !important;
        }
        .mobiletop-15 {
            margin-top: 15px;
        }
        .community_detail_page_heading_1_span{font-size: 24px;}
        .communitydetailpage_members_button{margin: 0px 5px; width: 100%;}
        .rightsidemenu.dropdown-menu.show{min-width: 100%;}
        .rightsidemenu.dropdown-menu:after{display: none;}
        .minBreakpoint-xs{flex-direction: column;}
        .owevent_button_tab .nav-item {
          
            width: 100%;
            margin-bottom: 5px;
        }
        .pending_event_btn{width:auto}
        span.event_ow_text{font-size: 16px; line-height: 24px; margin-top: 10px;}
        .pending_event_edit_heading{font-size: 18px;}
        .owevent_text{padding: 20px;}
        .owevent_heading_left{margin: 0;}
        .ow_event_img{width:100%}
}

